<?php
/** @var Astound\TopInformationBar\Block\View $block */

$topBars = $block->getTopBars();
?>
<?php if($topBars->getItems()):?>
<?php foreach ($topBars->getItems() as $item):?>
    <div style="text-align: center; background-color: <?=$item->getBackgroundColor()?>">
        <h3><?= __($item->getTitle())?></h3>
        <div>
            <p><?= __($item->getContent()) ?></p>
        </div>
    </div>
<?php  endforeach ;?>
<?php endif;?>
